{% extends 'foods/base.html' %}
{% block main_area %}
        <!-- 상품 등록 버튼 -->
        {% if user.is_authenticated %}
            {% if user.is_staff or user.is_superuser %}
                <div class="container px-5 my-4">
                    <a class="btn float-right" href="/foods/create_food/" style="background-color: #142DB2; color: white;">
                        <i class="fas fa-pen"></i>&nbsp;상품 등록
                    </a>
                </div>
                <br>
            {% endif %}
        {% endif %}

        <!-- 상품 정보 -->
        <div class="mt-5" align="center">
            {% if category %}
                <h1>{{ category }}</h1>
            {% elif search_info %}
                <h1>{{ search_info }}</h1>
            {% else %}
                <h1>전체 상품</h1>
            {% endif %}
        </div>

        <!-- 상품 목록 -->
        <div class="py-2">
            <div class="container px-4 px-lg-5 mt-5">
                <!-- 상품 총 개수 -->
                <div class="mb-3">
                    {% if category or search_info %}
                        총 {{ food_list.count }}개
                    {% elif food_all_count %}
                        총 {{ food_all_count }}개
                    {% endif %}
                </div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                    {% for food in food_list %}
                    <div class="col mb-5">
                        <div class="card border-0">
                            <!-- 상품 이미지 -->
                            <a href="{{ food.get_absolute_url }}">
                                {% if food.image %}
                                    <img class="card-img-top" src="{{ food.image.url }}"/>
                                {% else %}
                                    <img class="card-img-top" src="https://dummyimage.com/600x800/ffffff/57137b.jpg"/>
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <!-- 상품 찜 기능 -->
                                <a href="{{ food.get_like_url }}?next={{ request.path }}" class="float-right">
                                    {% if user in food.like_users.all %}
                                        <i class="fas fa-heart fa-lg"></i>
                                    {% else %}
                                        <i class="far fa-heart fa-lg"></i>
                                    {% endif %}
                                </a>
                                <!-- 상품 카테고리 -->
                                {% if food.category %}
                                    <p><span class="badge" style="background-color: #142DB2; color: white;">{{ food.category }}</span></p>
                                {% endif %}
                                <!-- 상풍명 -->
                                <h5>
                                    {% if food.brand %} [{{ food.brand }}] {% endif %}
                                    {{ food.name }}
                                </h5>
                                <!-- 상품 가격-->
                                <h5>{{ food.price }}원</h5>
                                <!-- 상품 설명 -->
                                <p>{{ food.get_content_markdown | truncatewords_html:5 | safe }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Pagination-->
        {% if is_paginated %}
        <ul class="pagination justify-content-center my-4">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">&larr; 이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; 이전</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음 &rarr;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#!">다음 &rarr;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
{% endblock %}
