{% extends 'foods/base.html' %}
{% block main_area %}
        <!-- Product list -->
        <div class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                    {% for f in food_list %}
                    <div class="col mb-5">
                        <div class="card border-0">
                            <!-- Product image-->
                            <a href="{{ f.get_absolute_url }}">
                                {% if f.image %}
                                    <img class="card-img-top" src="{{ f.image.url }}"/>
                                {% else %}
                                    <img class="card-img-top" src="https://dummyimage.com/600x800/ffffff/57137b.jpg"/>
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <!-- Product name-->
                                <h5>
                                    {% if f.brand %} [{{ f.brand }}] {% endif %}
                                    {{ f.name }}
                                </h5>
                                <!-- Product price-->
                                <h5>{{ f.price }}원</h5>
                                <!-- Product content -->
                                <p>{{ f.get_content_markdown | truncatechars_html:9 | safe }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
