{% extends 'foods/base.html' %}
{% block main_area %}
        <!-- Product Create -->
        {% if user.is_authenticated %}
            {% if user.is_staff or user.is_superuser %}
                <div class="container px-5 my-4">
                    <a class="btn float-right" href="/food/create_food/" style="background-color: #57137b; color: white;">
                        <i class="fas fa-pen"></i>&nbsp;상품 등록
                    </a>
                </div>
                <br>
            {% endif %}
        {% endif %}

        <!-- Product Category -->
        <div class="mt-5" align="center">
            {% if category %}
                <h1>{{ category }}</h1>
            {% else %}
                <h1>전체 상품</h1>
            {% endif %}
        </div>

        <!-- Product list -->
        <div class="py-2">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="mb-3">총 {{ food_list.count }}개</div>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                    {% for f in food_list %}
                    <div class="col mb-5">
                        <div class="card border-0">
                            <!-- Product image-->
                            <a href="{{ f.get_absolute_url }}">
                                {% if f.image %}
                                    <img class="card-img-top" src="{{ f.image.url }}"/>
                                {% else %}
                                    <img class="card-img-top" src="https://dummyimage.com/600x800/ffffff/57137b.jpg"/>
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <!-- Product name-->
                                <h5>
                                    {% if f.brand %} [{{ f.brand }}] {% endif %}
                                    {{ f.name }}
                                </h5>
                                <!-- Product price-->
                                <h5>{{ f.price }}원</h5>
                                <!-- Product content -->
                                <p>{{ f.get_content_markdown | truncatewords_html:5 | safe }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
