{% extends 'foods/base.html' %}
{% load crispy_forms_tags %}
{% block main_area %}
    <div class="my-5">
        <div class="container px-4 px-lg-5 mt-5">
            <h1>상품 등록</h1>
            <hr/>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- 입력 폼 -->
                <table>{{ form | crispy }}</table>
                <!-- 완료 버튼 -->
                <button type="submit" class="btn float-right" style="background-color: #142DB2; color: white;">완료</button>
                <br>
            </form>
            {{ form.media }}
        </div>
    </div>
{% endblock %}