{% extends 'foods/base.html' %}
{% block main_area %}
    <div class="my-5">
        <div class="container px-4 px-lg-5 mt-5">
            <h1>상품 등록</h1>
            <hr/>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>{{ form }}</table>
                <button type="submit" class="btn float-right" style="background-color: #57137b; color: white;">완료</button>
                <br>
            </form>
        </div>
    </div>
{% endblock %}