<!-- Header-->
<header class="py-4">
    <div>
        <div class="text-center" style="color: #57137b; font-style: italic;">
            <h1>S-Market</h1>
        </div>
    </div>
</header>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container px-4 px-lg-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/food/">전체 상품</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bars"></i>&nbsp;&nbsp;카테고리
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/food/category/채소과일수산">채소/과일/수산</a>
                        <a class="dropdown-item" href="/food/category/정육계란">정육/계란</a>
                        <a class="dropdown-item" href="/food/category/국반찬메인요리">국/반찬/메인요리</a>
                        <a class="dropdown-item" href="/food/category/샐러드간편식">샐러드/간편식</a>
                        <a class="dropdown-item" href="/food/category/음료우유커피">음료/우유/커피</a>
                        <a class="dropdown-item" href="/food/category/간식과자">간식/과자</a>
                        <a class="dropdown-item" href="/food/category/베이커리치즈">베이커리/치즈</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" class="btn" style="background-color: #57137b; color: white;" data-toggle="modal" data-target="#loginModal">로그인</button>
                </li>
            </ul>
        </div>
    </div>
</nav>