<!-- Header-->
<header class="py-4">
    <div>
        <div class="text-center" style="color: #57137b; font-style: italic;">
            <h1>S-Market</h1>
        </div>
    </div>
</header>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container px-4 px-lg-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/food/">전체 상품</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bars"></i>&nbsp;&nbsp;카테고리
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for c in categories %}
                            <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" class="btn" style="background-color: #57137b; color: white;" data-toggle="modal" data-target="#loginModal">로그인</button>
                </li>
            </ul>
        </div>
    </div>
</nav>