{% load socialaccount %}
{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">S-Market</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!-- 홈 페이지 -->
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">홈</a></li>
                <!-- 상품 목록 페이지 -->
                <li class="nav-item"><a class="nav-link" href="/foods/">전체 상품</a></li>
                <!-- 카테고리 페이지 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bars"></i>&nbsp;&nbsp;카테고리
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- Category -->
                        {% for c in categories %}
                            <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <!-- 마이페이지 -->
                <li class="nav-item"><a class="nav-link" href="/mypage/">마이페이지</a></li>
                <!-- 회사 소개 페이지 -->
                <li class="nav-item"><a class="nav-link" href="/company/">회사 소개</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #57137b;">
                            <!-- 로그인한 사용자 정보 -->
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                                <img class="rounded-circle" width="25px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
                            {% else %}
                                <img class="rounded-circle" width="25px" src="https://doitdjango.com/avatar/id/370/78f08c0876b31d05/svg/{{ user.username }}/">
                            {% endif %}
                            {{ user.username }}님
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/accounts/logout/">로그아웃</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <!-- 로그인 버튼 -->
                        <a role="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" style="background-color:	#142DB2; color: white;">
                            로그인
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- 로그인 Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;로그인</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- 구글 로그인 -->
                        <a href="{% provider_login_url 'google' %}">
                            <img src="{% static 'foods/images/google.png' %}" class="my-1 w-100" height="50px">
                        </a>
                        <!-- 카카오 로그인 -->
                        <a href="{% provider_login_url 'kakao' %}">
                            <img src="{% static 'foods/images/kakao.png' %}" class="my-1 w-100" height="50px">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <!-- 이메일 로그인 -->
                        <a role="button" class="btn btn-outline-dark btn-block btn-lg my-1" href="/accounts/login/">
                            <i class="far fa-envelope"></i>&nbsp;&nbsp;E-mail 로그인
                        </a>
                        <!-- 이메일 회원가입 -->
                        <a role="button" class="btn btn-outline-dark btn-block btn-lg my-2" href="/accounts/signup/">
                            <i class="far fa-envelope"></i>&nbsp;&nbsp;E-mail 회원가입
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color: #142DB2; color: white;" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>