{% extends 'foods/base.html' %}
{% block main_area %}
    <!-- 베스트 상품 -->
    <div class="py-5">
        <h1 class="text-center">BEST</h1>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                {% for food in best_foods %}
                <div class="col mb-5">
                    <div class="card border-0">
                        <!-- 상품 이미지 -->
                        <a href="{{ food.get_absolute_url }}">
                            {% if food.image %}
                                <img class="card-img-top" src="{{ food.image.url }}"/>
                            {% else %}
                                <img class="card-img-top" src="https://dummyimage.com/600x800/ffffff/57137b.jpg"/>
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <!-- 상품 찜 기능 -->
                            {% if user.is_authenticated %}
                            <a href="{{ food.get_like_url }}?next={{ request.path }}" class="float-right">
                                {% if user in food.like_users.all %}
                                    <i class="fas fa-heart fa-lg"></i>
                                {% else %}
                                    <i class="far fa-heart fa-lg"></i>
                                {% endif %}
                            </a>
                            {% endif %}
                            <!-- 상품 카테고리 -->
                            {% if food.category %}
                                <p><span class="badge" style="background-color: #142DB2; color: white;">{{ food.category }}</span></p>
                            {% endif %}
                            <!-- 상풍명 -->
                            <h5>
                                {% if food.brand %} [{{ food.brand }}] {% endif %}
                                {{ food.name }}
                            </h5>
                            <!-- 상품 가격-->
                            <h5>{{ food.price }}원</h5>
                            <!-- 상품 설명 -->
                            <p>{{ food.get_content_markdown | truncatewords_html:5 | safe }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}