{% extends 'foods/base.html' %}
{% load static %}
{% load mathfilters %}
{% block main_area %}
    <!-- 알림 메세지 -->
    {% if messages %}
    {% for message in messages %}
        {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
    {% endif %}

    <div class="py-5">
        <h1 class="text-center">장바구니</h1>
        <div class="container px-4 px-lg-5 mt-5" align="center">
            <div class="row table-responsive">
                <table class="table table-bordered" style="text-align: center;">
                <thead>
                <tr style="background-color: #e6f4fa;">
                    <th scope="col">상품</th>
                    <th scope="col">판매가</th>
                    <th scope="col">수량</th>
                    <th scope="col">구매가</th>
                    <th scope="col">선택</th>
                </tr>
                </thead>
                <tbody>
                {% for cart in cart_list %}
                <tr>
                    <td>
                        <div class="row container">
                            <!-- 상품 이미지 -->
                            <a href="{{ cart.food.get_absolute_url }}">
                                {% if cart.food.image %}
                                <img src="{{ cart.food.image.url }}" width="100px"/>
                                {% else %}
                                <img src="https://dummyimage.com/600x800/ffffff/57137b.jpg" width="100px"/>
                                {% endif %}
                            </a>
                            <!-- 상풍명 -->
                            <p class="ml-3">
                                {% if cart.food.brand %} [{{ cart.food.brand }}] {% endif %}
                                {{ cart.food.name }}
                            </p>
                        </div>
                    </td>
                    <td style="vertical-align:middle;">
                        <!-- 상품 판매가 -->
                        {{ cart.food.price }}원
                    </td>
                    <td style="vertical-align:middle;">
                        <!-- 수량 감소 버튼 -->
                        <a role="button" class="btn" href="/foods/update_cart/{{ cart.food.pk }}/?action=minus"><i class="fas fa-minus-circle"></i></a>
                        <!-- 상품 수량 -->
                        {{ cart.quantity }}
                        <!-- 수량 증가 버튼 -->
                        <a role="button" class="btn" href="/foods/update_cart/{{ cart.food.pk }}/?action=plus"><i class="fas fa-plus-circle"></i></a>
                    </td>
                    <td style="vertical-align:middle;" id="final-price">
                        <!-- 상품 구매가 -->
                        {{ cart.food.price | mul:cart.quantity }}원
                    </td>
                    <!-- 주문/삭제 버튼 -->
                    <td style="vertical-align:middle;">
                        <a role="button" class="btn btn-sm my-2" style="background-color: #142DB2; color: white;">주문하기</a><br>
                        <a role="button" class="btn btn-sm btn-outline" data-toggle="modal" data-target="#deleteCartModal" style="border-color: #142DB2; color: black;">삭제하기</a>

                        <!-- 장바구니 상품 삭제 Modal -->
                        <div class="modal fade" id="deleteCartModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">장바구니에서 상품을 삭제하시겠습니까?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" style="background-color: #142DB2; color: white;" data-dismiss="modal">닫기</button>
                                        <a role="button" class="btn btn-danger" href="/foods/delete_cart/{{ cart.food.pk }}/">삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <!-- 총 상품금액 -->
                    <td colspan="5">총 상품금액은 <b>{{ final_price }}원</b> 입니다.</td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="mt-3">
                <button type="button" class="btn btn-lg mr-3" style="background-color:	#142DB2; color: white;">전체상품 주문</button>
                <button type="button" class="btn btn-lg btn-outline" style="border-color:	#142DB2; color: black;">선택상품 주문</button>
            </div>
        </div>
    </div>

{% endblock %}