{% extends 'foods/base.html' %}
{% load static %}
{% block main_area %}
    {% if user.is_authenticated %}
    <!-- 사용자 프로필 -->
    <div class="py-4">
        <div class="container px-4 px-lg-5 my-4">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-lg-2">
                    <!-- 사용자 프로필 사진 -->
                    {% if user.socialaccount_set.all.0.get_avatar_url %}
                    <img class="rounded-circle" width="150px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
                    {% else %}
                    <img class="rounded-circle" width="150px" src="https://doitdjango.com/avatar/id/370/78f08c0876b31d05/svg/{{ user.username }}/">
                    {% endif %}
                </div>
                <div class="col-lg-8">
                    <!-- 사용자 이름과 이메일 -->
                    <h2>{{ user.username }}님</h2>
                    {{ user.email }}
                </div>
            </div>
        </div>
    </div>

    <div class="py-4">
        <div class="container px-4 px-lg-5 mt-2">
            <!-- 메뉴 선택 탭 -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="true">작성한 후기</a>
                    <a class="nav-link" id="nav-like-tab" data-toggle="tab" href="#nav-like" role="tab" aria-controls="nav-like" aria-selected="false">찜한 상품 목록</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!-- 작성한 후기 -->
                <div class="tab-pane fade show active" id="nav-comment" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="card-body">
                        {% if user.comment_set.exists %}
                            {% for comment in user.comment_set.all %}
                            {% if comment.author == user %}
                            <div class="d-flex my-3 float-right">
                                <!-- 후기 수정/삭제 버튼 -->
                                <a role="button" class="btn btn-sm mr-1" href="/foods/update_comment/{{ comment.pk }}/?next={{ request.path }}" style="background-color: #142DB2; color: white;">수정</a>
                                <a role="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">삭제</a>

                                <!-- 댓글 삭제 Modal -->
                                <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">댓글을 삭제하시겠습니까?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {{ comment | linebreaks }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn" style="background-color: #142DB2; color: white;" data-dismiss="modal">닫기</button>
                                                <a role="button" class="btn btn-danger" href="/foods/delete_comment/{{ comment.pk }}/?next={{ request.path }}">삭제</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="media my-3" onclick="location.href='{{ comment.get_absolute_url }}'">
                                <!-- 후기를 작성한 상품 이미지 -->
                                <img src="{{ comment.food.image.url }}" width="70px" />
                                <div class="media-body ml-3">
                                    <!-- 후기를 작성한 상품명 -->
                                    <h6>
                                        {% if comment.food.brand %} [{{ comment.food.brand }}] {% endif %}
                                        {{ comment.food.name }}
                                    </h6>
                                    <!-- 후기 내용 -->
                                    {{ comment.author.username }}&nbsp;&nbsp;<small class="text-muted">{{ comment.updated_at | date:"Y-m-d h:i:s" }}</small><br>
                                    {{ comment.content | linebreaks }}
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <h4>아직 작성한 후기가 없습니다.</h4>
                        {% endif %}
                    </div>
                </div>
                <!-- 찜한 상품 목록 -->
                <div class="tab-pane fade" id="nav-like" role="tabpanel" aria-labelledby="nav-profile-tab">
                    {% if food_list.length != 0 %}
                    <div class="py-2">
                        <div class="container px-4 px-lg-5 mt-5">
                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                                {% for food in food_list %}
                                <div class="col mb-5">
                                    <div class="card border-0">
                                        <!-- 상품 이미지 -->
                                        <a href="{{ food.get_absolute_url }}">
                                            {% if food.image %}
                                                <img class="card-img-top" src="{{ food.image.url }}"/>
                                            {% else %}
                                                <img class="card-img-top" src="https://dummyimage.com/600x800/ffffff/57137b.jpg"/>
                                            {% endif %}
                                        </a>
                                        <div class="card-body">
                                            <!-- 상품 찜 기능 -->
                                            <a href="{{ food.get_like_url }}?next={{ request.path }}" class="float-right">
                                                {% if user in food.like_users.all %}
                                                    <i class="fas fa-heart fa-lg"></i>
                                                {% else %}
                                                    <i class="far fa-heart fa-lg"></i>
                                                {% endif %}
                                            </a>
                                            <!-- 상품 카테고리 -->
                                            {% if food.category %}
                                                <p><span class="badge" style="background-color: #142DB2; color: white;">{{ food.category }}</span></p>
                                            {% endif %}
                                            <!-- 상품명-->
                                            <h5>
                                                {% if food.brand %} [{{ food.brand }}] {% endif %}
                                                {{ food.name }}
                                            </h5>
                                            <!-- 상품 가격 -->
                                            <h5>{{ food.price }}원</h5>
                                            <!-- 상품 설명 -->
                                            <p>{{ food.get_content_markdown | truncatewords_html:5 | safe }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="card-body">
                    <h4>아직 찜한 상품이 없습니다.</h4>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="py-4">
        <div class="container px-4 px-lg-5 my-4">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <!-- 로그인 버튼 -->
                <a role="button" class="btn" data-toggle="modal" data-target="#loginModal" style="background-color: #142DB2; color: white;">로그인 후 마이페이지를 확인할 수 있습니다.</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}